<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>RingCentral Authorization Code Flow Authentication</title>
  </head>
  <body>
    <h2>
        RingCentral Authorization Code Flow Authentication
    </h2>
    <ul>
      <li><a href="<%- rc_authorize_uri %>">Login to your RingCentral Account</a></li>
      <li><a href="<%- att_authorize_uri %>">Login AT&amp;T Office@Hand Account</a></li>
    </ul>
  </body>
</html>
